fastapi
uvicorn[standard]
python-multipart

qdrant-client

unstructured[pdf,csv]
pypdf
python-magic
pandas
pdfminer.six

openai
tiktoken

minio

sentence-transformers
rank-bm25

pydantic
pydantic-settings
python-dotenv
httpx

loguru

aiofiles

pytest
pytest-asyncio